# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Directorios de construcción / distribución
dist/
build/

# Archivos del sistema
.DS_Store
.thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp